.search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-bar{
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}


input[type="text"]{
    outline: none;
    border: none;
    background-color: rgb(18, 90, 213);
    color: white;
    padding-left: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Oxygen Mono', monospace;
}

::placeholder{
    color: white;
    font-weight: 100;
    font-family: 'Oxygen Mono', monospace;
}

.location-icon, .search-icon{
    cursor: pointer;
}

